---
import Layout from "../layouts/Layout.astro";
import PageContainer from "../components/PageContainer";
import HeroSection from "../components/sections/HeroSection";
import AboutSection from "../components/sections/AboutSection";
import SkillsSection from "../components/sections/SkillsSection";
---

<Layout>
  <div class="h-full overflow-y-auto overflow-x-hidden">
    <PageContainer client:load>
      <div class="overflow-x-hidden">
        <div data-anchor="hero" class="h-screen">
          <HeroSection client:load />
        </div>
        <div data-anchor="about" class="h-screen">
          <AboutSection client:load />
        </div>
        <div data-anchor="skills" class="h-screen">
          <SkillsSection client:load />
        </div>
      </div>
    </PageContainer>
  </div>
</Layout>
